# Standard Python stuff
__pycache__/

# IPython/Jupyter stuff
.ipynb_checkpoints/

# Pytest stuff
.pytest_cache/

# Packaging left-overs
/nw2vec.egg-info/
/nw2vec/*.so

# Keras/TensorBoard logs
/logs

# Rust extension build directory
/build

# Dask stuff
dask-slaves
